:root {
    --background: #f2fbff;
    --text: #1D3557
}

.president-box {
    width: 85%;
    margin: 0 auto;
}

.cpn {
    text-align: center;
    margin: 20px 0;

}

.president {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 30px;
    justify-content: center;
    color: #545454;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.image-president-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.president-image {
    width: 100%;
    height: auto;
}


.thank-p {
    padding: 20px 0;
    color: var(--text);
    font-weight: bold;
    font-size: 16px;
}

.discription-president {
    text-indent: 50px;
}

.companyProfile {
    width: 100%;
    padding: 30px 0 0 0;
    margin: 50px auto;



}

.cp {
    text-align: center;
    margin: 30px auto;
    font-size: 22px;
}

.jiei-image-company-profile {
    width: 100%;
    height: auto;
}

.card-company-profile {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    gap: 50px;
}

.topic-copany-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.topic-copany-profile2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.discription-company-profile-content {
    color: #545454;
}

.topic-company-profile-list {
    color: blue;
    font-weight: 500;
    letter-spacing: 1px;
}

.card-company-profile2 {
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
    gap: 50px;
}

.cp-tp {
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 22px;
}

.topic-company-list {
    margin: 30px 0;
    text-align: center;
    font-size: 22px;
}

.box-company-base {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.list-customer li {
    padding: 10px 0;
    list-style: inside;
    color: #545454;

}

.list-customer li::marker {
    color: blue;
}

@media screen and (max-width:1500px) {
    .president {
        display: grid;
        grid-template-columns: 1.5fr 4fr;

    }
}

@media screen and (max-width:1024px) {
    .president {
        display: grid;
        grid-template-columns: .5fr 1fr;

    }

    .discription-president {
        font-size: 12px;
    }

    .thank-p {
        padding: 0 0 20px 0;
        font-size: 14px;
    }

    .box-company-base {
        width: 100%;
    }

    .card-company-profile {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 50px;
    }

    .image-company-profile-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jiei-image-company-profile {
        width: 50%;
        height: auto;
    }

    .topic-copany-profile {
        margin-left: 150px;
    }

    .card-company-profile2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 50px;
    }

    .topic-copany-profile2 {
        margin-left: 150px;
        order: 2;
    }
}

@media screen and (max-width:768px) {
    .president {
        display: grid;
        grid-template-columns: 1fr;
    }

    .president-image {
        width: 50%;
    }

    .box-company-base {
        display: grid;
        grid-template-columns: 1fr;

    }
     .topic-copany-profile {
        margin-left: 100px;
    }
      .topic-copany-profile2 {
        margin-left: 100px;
    }
}
@media screen and (max-width:426px) {
    
     .topic-copany-profile {
        margin-left: 0px;
    }
      .topic-copany-profile2 {
        margin-left: 0px;
    }
}