.container-product {
    width: 85%;
    margin: 20px auto;
}

.product-card-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.box-product {
    box-shadow: 0 0 1px #959595;
    cursor: pointer;
    padding: 20px;
}

.box-product:hover {
    background-color: var(--background);
    box-shadow: none;
}

.box-product:hover .product-card {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
}

.box-product:not(:hover) .text-product {
    opacity: 0;
}

.text-product {
    transform: translateY(-90px);
    width: 100%;
    color: var(--text);
}

.image-product-1 {
    height: auto;
}

.box-topic-pro {
    width: 50%;
    transform: translateY(20px);
    background-color:var(--text);
    /* padding: 50px 0 0 0; */
    padding: 20px 0;
    color: #fff;
    border-radius: 0 0px 100px 0;
    font-size: 10px;
}

.IntroductionPro {
    color: #fff;
}

.box-topic-pro-box {
    width: 70%;
    margin: 0px auto;
    /* padding: 30px; */

}

.list-product {
    padding: 15px 0;
    background-color: var(--text);
    color: #fff;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-weight: bold;
    width: 95%;
    margin: 0 auto;
}



.box-car-product {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-topic h1 {
    color: #fff;
}

.list-topic-pro {
    padding: 0 0 0 20px;
}

.tabel-product-list-box {
    display: grid;
    grid-template-columns: .1fr 1fr;
    box-shadow: 0 0 2px #959595;
    width: 95%;
    margin: 0 auto;
    text-align: justify;
    font-size: 14px;
}

.discription-box1 {
    display: grid;
    grid-template-columns: .4fr 1fr;
    padding: 20px 20px 20px 0;
    background-color: var(--background);
    align-items: center;
}

.discription-box2 {
    display: grid;
    grid-template-columns: .4fr 1fr;
    padding: 20px 20px 20px 0;
    background-color: #fff;
    align-items: center;

}

.list-list {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
}

.list-topic-pro p {
    font-size: 16px;
    font-weight: bold;
}

.ProductSample {
    font-size: 18px;
    text-align: center;
    padding: 50px 0 30px 0;
}

.car-product-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.carproduct img {
    width: 100%;
    height: auto;
}

.container-image-product {
    display: grid;
    grid-template-columns: .8fr 1fr .8fr;
    margin: 0 auto;
    align-items: center;
    gap: 70px;
}

.image-Functional-evaluation {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.image-Functional-evaluation img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    /* border: 1px solid #000; */
}

.content-hover-box {
    transform: translateY(-100px);
    text-align: center;
}

.content-hover-box p {
    color: var(--text);
    letter-spacing: 1px;
}

.image-Functional-evaluation:hover {
    background-color: var(--background);
}

.image-Functional-evaluation:hover .image-box {
    opacity: .1;
}

.image-Functional-evaluation:not(:hover) .content-hover-box {
    opacity: 0;
}

.list-list-list p {
    padding: 0 20px;
}

@media screen and (max-width:1024px) {
    .product-card-box {

        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width:768px) {
    .tabel-product-list-box {
        grid-template-columns: 1fr;
    }

    .tabel-product-list-box p {
        font-size: 12px;
    }

    .box-topic-pro {
        width: 80%;

    }

    .car-product-box {
        grid-template-columns: 1fr;

    }

    .carproduct {
        width: 80%;
        margin: 0 auto;
    }

    .container-image-product {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .image-box img {
        height: auto;
        width: 80%;
    }

    .discription-box1 {
        display: grid;
        grid-template-columns: 1fr;

    }

    .discription-box2 {
        display: grid;
        grid-template-columns: 1fr;

    }

    .list-topic-pro {
        text-align: center;
        padding: 10px 0;
    }


}

@media screen and (max-width:426px) {
    .product-card-box {

        grid-template-columns: 1fr;

    }

    .box-topic-pro {
        width: 99%;
    }

    .Introduction {
        font-size: 16px;
    }
}






.image-product-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    width: 90%;
    margin: 50px auto;


}

.img-product_4 {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px #626262;

}

.img-product_4 :hover {
    box-shadow: 0 0 10px #959595;
}

.img-product {
    width: 100%;
    height: auto;
    padding: 20px 20px;


}

.IntroductionPD {
    color: var(--text);
    font-size: 22px;

}

.box-PD {
    width: 90%;
    margin: 0 auto;
}

.title-PD-h1 {
    color: #fff;
}

.title-PD {
    color: #fff;
    font-size: 18px;

}

.description-PD {
    color: #fff;
    font-size: 16px;
}
/* -----------------------------------------------------------product */
.topic-PD{
    transform: translateX(30px);
    margin-bottom:20px;
}
.product-list-PD{
    width: 90%;
    margin: 0 auto;
}
.title-car{
    font-size: 50px;
    padding: 30px 0 ;
    text-align: center;
    background-color: var(--text);
  
    border-radius:20px  20px 0 0 ;
    color: #fff;
}
.title-list{
    font-size: 30px;
    padding: 0px 0 20px 20px;

}
.card-PD{
    box-shadow: 0 0 2px #959595;
    margin: 16px 0 0 0;
}
.card-PD:hover{
    box-shadow: 0 0 10px #959595;
}
.image-PD{
width: 100%;
height: auto;
}
.image-PD{
    width: 100%;
    height: 300px;
}

@media screen and (max-width:768px) {
    .image-product-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        width: 80%;
        margin: 50px auto;


    }
    .product-list-PD{
        width: 100%;
    }
    .title-car{
    font-size: 30px;
    width: 90%;
    margin:  0 auto;
}
}

@media screen and (max-width:426px) {
    .image-product-box {

        grid-template-columns: 1fr;



    }
}