.box-tech {
    width: 85%;
    margin: 0 auto;
}

.box-topic-tech {
    width: 50%;
    background-color: var(--text);
    margin: 50px 0 0 0;
    padding: 20px 0;
    color: #fff;
    border-radius: 0 10px 100px 0;
    font-size: 10px;
}

.box-topic-tech-box {
    width: 70%;
    margin: 0 auto;

}


.card-tech {
    display: grid;
    grid-template-columns: .3fr 1fr;
    gap: 30px;
    margin: 50px 0;
    align-items: center;

    padding: 50px 50px;
    border-radius: 10px;
    background-color: var(--background);
}

.ul-card-box1 {
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.ul-card-box2 {
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
}

.topic-card-tech h1 {
    font-size: 22px;
}

.ul-tech p {
    font-size: 14px;
    text-indent: 30px;
    line-height: 25px;
}

.ul-tech li {
    /* list-style: decimal; */
    margin: 20px 0;
    text-align: justify;
    padding: 0 20px;
    font-size: 14px;

}

.topDesign-Analysis {
    background-color: var(--text);
    color: #fff;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 80px 80px 0 0;
}

.DesignAnalysis {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: var(--text);
    padding: 50px 50px;
    border-radius: 20px;
}

.image-c {
    width: 100%;
    height: auto;
}

.MaterialsDevelopment {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 30px;
    margin: 20px auto;

}

.image-dev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-MaterialsDevelopment {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    border-radius: 10px;
    background-color: var(--text);

}

.image-dev {
    width: 90%;
    height: auto;
    border-radius: 10px;

}

.content-materials {
    margin: 0 auto;
    text-align: center;
}

.content-materials {
    padding: 20px 0 0 0;
}

.content-materials p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .card-tech {
        grid-template-columns: 1fr;
    }

    .DesignAnalysis {

        grid-template-columns: 1fr 1fr;

    }
}

.card-MaterialsDevelopment {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    border-radius: 10px;
    background-color: var(--text);

}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.tech-card-c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
}

.topDesignAnalysis {
    padding: 50px 0 20px 0;
    text-align: center;
}

.image-tech{
height: auto;
 width: 100%;
}

.carddd{
    width: 100%;
}
.MaterialsDevelopment-dev{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85%;
    margin: 40px auto;
    gap: 40px;
}
.card-MaterialsDevelopment-dev{
    box-shadow: 0 0 1px #959595;
    border-radius: 10px;
    overflow: hidden;
}
.card-MaterialsDevelopment-dev:hover{
    box-shadow: 0 0 10px #959595;
}
.image-dev{
    width: 100%;
}
.image-dev-dev{
    width: 100%;
    height: auto;
}
.text-dev{
    color: var(--text) !important;
    padding: 10px 30px;
    text-align: left;
    font-weight: 500 !important;
    font-size: 16px !important;
}
@media screen and (max-width : 1024px) {
  .tech-card-c {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
    width: 80%;
   
}
  
}
@media screen and (max-width:768px) {
    .box-topic-tech {
        width: 80%;
    }

    .ul-tech li {
        font-weight: bold;
        font-size: 16px;
    }

    .ul-card-box1 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 20px;
    }

    .ul-card-box2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        background-color: var(--background);
        padding: 20px;
        border-radius: 10px;
    }

    .DesignAnalysis {

        grid-template-columns: 1fr;

    }

    .image-card-c {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-c {
        width: 70%;
    }

    .MaterialsDevelopment {

        grid-template-columns: 1fr;


    }
      .tech-card-c {
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 40px;
    width: 80%;
}
.MaterialsDevelopment-dev{
   
    grid-template-columns: 1fr 1fr;
   
}
}
/* .....................................................................---------------------------------------------------------------- */




@media screen and (max-width:426px) {
    .card-tech {

        padding: 10px;
        /* width: 100%; */
    }
.title-tech-h1{
    font-size: 18px;
}
.title-tech-h1DA{
    font-size: 22px;
}
    .box-topic-tech {
        width: 99%;
    }

    .Introduction {
        font-size: 16px;
    }

    .DesignAnalysis {
        width: 100%;
        grid-template-columns: 1fr;
        border-radius: 0;

    }

    .topDesign-Analysis {
        width: auto;
        padding: 40px 0 0 0;
    }

    .topDesign-Analysis h1 {
        font-size: 22px;

    }
    .MaterialsDevelopment-dev{
   width: 70%;
    grid-template-columns: 1fr;
   
}
}